:root {
  --color-accent: #2196f3;
  --color-button-active: #188ce8;
  --color-primary-text-dark: #212121;
  --color-primary-text-light: #ffffff;
  --color-secondary-text-dark: #000000;
  --color-secondary-text-light: #757575;
  --color-bg-dark: #2f303a;
  --color-bg-light: #f5f4fa;
  --color-bg-hero: #c4c4c4;
  --color-bg-project-thumb: rgba(33, 150, 243, 0.9);
  --color-bg-image-hero: rgba(47, 48, 58, 0.4);
  --color-bg-image-activities: rgba(47, 48, 58, 0.8);
  --color-border-bottom: #ececec;
  --color-border-project: #eeeeee;
  --color-backdrop: rgba(0, 0, 0, 0.2);
  --color-svg: #afb1b8;
  --font-family-primary: Roboto, sans-serif;
  --font-family-secondary: Raleway, sans-serif;
  --font-size-primary: 16px;
  --gap-card-set: 30px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}

body {
  font-size: 14px;
  font-family: var(--font-family-primary);
  letter-spacing: 0.03em;
  color: var(--color-primary-text-dark);
  background-color: var(--color-primary-text-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

textarea {
  resize: none;
}

.icon {
  fill: currentColor;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section__inner {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  overflow: hidden;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  width: 145px;
  font-size: 26px;
  font-family: var(--font-family-secondary);
  line-height: 1.2;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform var(--duration) var(--timing-function);
  transition: -webkit-transform var(--duration) var(--timing-function);
  transition: transform var(--duration) var(--timing-function);
  transition: transform var(--duration) var(--timing-function), -webkit-transform var(--duration) var(--timing-function);
}
.logo:focus, .logo:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.logo--dark {
  color: var(--color-secondary-text-dark);
}
.logo--light {
  color: var(--color-primary-text-light);
}
.logo--accent {
  color: var(--color-accent);
}

.btn {
  font-size: var(--font-size-primary);
  font-family: inherit;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}

.btn--dark {
  min-height: 50px;
  line-height: 1.85;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--color-primary-text-light);
  background-color: var(--color-accent);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--duration) var(--timing-function);
  transition: background-color var(--duration) var(--timing-function);
}
.btn--dark:hover, .btn--dark:focus {
  background-color: var(--color-button-active);
}

.btn--light {
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: inherit;
  background-color: var(--color-bg-light);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function), -webkit-box-shadow var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function), -webkit-box-shadow var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function), -webkit-box-shadow var(--duration) var(--timing-function);
}
.btn--light:hover, .btn--light:focus {
  color: var(--color-primary-text-light);
  background-color: var(--color-accent);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.subtitle {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  min-height: 80px;
  border-bottom: 1px solid var(--color-border-bottom);
  background-color: var(--color-primary-text-light);
}

.logo--append {
  margin-right: 90px;
}

.page-nav {
  margin-right: auto;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.contact-group__link,
.nav-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function);
}

.nav-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: inherit;
}
.nav-list__link:hover, .nav-list__link:focus {
  color: var(--color-accent);
}

.contact-group__link {
  color: var(--color-secondary-text-light);
}
.contact-group__link:hover, .contact-group__link:focus {
  color: var(--color-accent);
}

.contact-group__item:not(:last-child) {
  margin-right: var(--gap-card-set);
}

.contact-group__icon--append {
  margin-right: 10px;
}

.active-link {
  position: relative;
  color: var(--color-accent);
}
.active-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--color-accent);
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--color-bg-hero);
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color-bg-image-hero)), to(var(--color-bg-image-hero))), url("../images/img-index/new_photo-hero.jpg");
  background-image: linear-gradient(var(--color-bg-image-hero), var(--color-bg-image-hero)), url("../images/img-index/new_photo-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__title {
  margin-bottom: var(--gap-card-set);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-primary-text-light);
}

.modal-btn {
  min-width: 216px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 30px;
}

.feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: calc(-1 * var(--gap-card-set) / 2);
}

.feature__item {
  max-width: 270px;
  margin: calc(var(--gap-card-set) / 2);
}

.feature__bg-img {
  height: 120px;
  background-color: var(--color-bg-light);
}
.feature__bg-img--bottom {
  margin-bottom: var(--gap-card-set);
}

.feature__title--bottom {
  margin-bottom: 10px;
}

.feature__descr {
  line-height: 1.71;
  color: var(--color-secondary-text-light);
}

.activities {
  padding-top: 0;
}
.activities__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: calc(-1 * var(--gap-card-set) / 2);
}
.activities__item {
  position: relative;
  max-width: 370px;
  margin: calc(var(--gap-card-set) / 2);
}
.activities__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--color-primary-text-light);
  background-color: var(--color-bg-image-activities);
}

.team {
  background-color: var(--color-bg-light);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: calc(-1 * var(--gap-card-set) / 2);
}

.team__item {
  max-width: 270px;
  margin: calc(var(--gap-card-set) / 2);
  background-color: var(--color-primary-text-light);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__inner {
  padding: 30px 32px;
}

.team__name {
  font-weight: 500;
  font-size: var(--font-size-primary);
  line-height: 1.19;
  text-align: center;
}
.team__name--bottom {
  margin-bottom: 10px;
}

.team__position {
  font-size: var(--font-size-primary);
  line-height: 1.19;
  text-align: center;
  color: var(--color-secondary-text-light);
}
.team__position--bottom {
  margin-bottom: 16px;
}

.socials__link--bg-light {
  color: var(--color-svg);
  background-color: var(--color-primary-text-light);
  -webkit-transition: background-color var(--duration) var(--timing-function), color var(--duration) var(--timing-function);
  transition: background-color var(--duration) var(--timing-function), color var(--duration) var(--timing-function);
}
.socials__link--bg-light:hover, .socials__link--bg-light:focus {
  color: var(--color-primary-text-light);
  background-color: var(--color-accent);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__item:not(:last-child) {
  margin-right: var(--gap-card-set);
}

.clients__link {
  width: 170px;
  height: 92px;
  color: var(--color-svg);
  border: 1px solid;
  border-color: var(--color-svg);
  border-radius: 4px;
  -webkit-transition: color var(--duration) var(--timing-function), border-color var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function), border-color var(--duration) var(--timing-function);
}
.clients__link:hover, .clients__link:focus {
  color: var(--color-accent);
  border-color: var(--color-accent);
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-bg-dark);
}
.page-footer__container--baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.page-footer__logo--bottom {
  margin-bottom: 20px;
}
.page-footer__address--append {
  margin-right: 94px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  line-height: 1.71;
  color: var(--color-primary-text-light);
  opacity: 0.6;
  -webkit-transition: opacity var(--duration) var(--timing-function);
  transition: opacity var(--duration) var(--timing-function);
}
.address__link:hover, .address__link:focus {
  opacity: 1;
}

.page-footer__subtitle,
.sub__label {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-primary-text-light);
}

.socials__link--bg-dark {
  color: var(--color-primary-text-light);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--duration) var(--timing-function);
  transition: background-color var(--duration) var(--timing-function);
}
.socials__link--bg-dark:hover, .socials__link--bg-dark:focus {
  background-color: var(--color-accent);
}

.page-footer__socials--append {
  margin-right: auto;
}

.sub__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub__input {
  width: 358px;
  height: 50px;
  margin: 0;
  padding-left: 16px;
  color: var(--color-primary-text-light);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  outline: transparent;
  cursor: pointer;
  -webkit-transition: border-color var(--duration) var(--timing-function);
  transition: border-color var(--duration) var(--timing-function);
}
.sub__input:hover, .sub__input:focus {
  border-color: var(--color-accent);
}
.sub__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: var(--font-size-primary);
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.sub__input::-moz-placeholder {
  font-weight: 400;
  font-size: var(--font-size-primary);
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.sub__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: var(--font-size-primary);
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.sub__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: var(--font-size-primary);
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.sub__input::placeholder {
  font-weight: 400;
  font-size: var(--font-size-primary);
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sub__btn {
  min-width: 200px;
  margin-left: 12px;
  padding: 10px 28px;
}
.sub__btn--icon {
  margin-left: 10px;
}

.sub__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-backdrop);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity var(--duration) var(--timing-function), visibility var(--duration) var(--timing-function);
  transition: opacity var(--duration) var(--timing-function), visibility var(--duration) var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--color-primary-text-light);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--duration) var(--timing-function);
  transition: -webkit-transform var(--duration) var(--timing-function);
  transition: transform var(--duration) var(--timing-function);
  transition: transform var(--duration) var(--timing-function), -webkit-transform var(--duration) var(--timing-function);
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -150%) scale(0.7);
          transform: translate(-50%, -150%) scale(0.7);
}

.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-primary-text-dark);
}

.modal__btn--close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  color: var(--color-secondary-text-dark);
  border-radius: 50%;
  background: var(--color-primary-text-light);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: color var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function);
  cursor: pointer;
}
.modal__btn--close:focus, .modal__btn--close:hover {
  color: var(--color-accent);
}

.modal-form__label {
  display: block;
  cursor: pointer;
}

.modal-form__label--bottom {
  margin-bottom: 10px;
}

.modal-form__textarea--bottom {
  margin-bottom: 20px;
}

.modal-form__caption {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-secondary-text-light);
}

.modal-form__wrapper {
  position: relative;
}

.modal-form__input {
  width: 100%;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border var(--duration) var(--timing-function);
  transition: border var(--duration) var(--timing-function);
  outline: transparent;
  cursor: pointer;
}
.modal-form__input:hover, .modal-form__input:focus {
  border: 1px solid var(--color-accent);
}
.modal-form__input--padding {
  padding: 11px 12px 11px 42px;
}

.modal-form__textarea--padding {
  min-height: 120px;
  padding: 12px 16px;
}

.modal-form__textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  color: var(--color-secondary-text-dark);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: color var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function);
  pointer-events: none;
}
.modal-form__input:focus + .modal-form__icon, .modal-form__input:hover + .modal-form__icon {
  color: var(--color-accent);
}

.modal-form__terms {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: var(--gap-card-set);
  margin-left: 12px;
}

.terms__label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-secondary-text-light);
  cursor: pointer;
}

.terms__linkt {
  font-size: 14px;
  line-height: normal;
  color: var(--color-accent);
  border-bottom: 1px solid;
  cursor: pointer;
}

.terms__checkbox--custom {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--color-primary-text-dark);
  background-color: var(--color-primary-text-light);
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: border var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function);
  transition: border var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function);
}
.terms__checked:checked + .terms__checkbox--custom {
  background-color: var(--color-accent);
  border: none;
}
.terms__checked:hover + .terms__checkbox--custom, .terms__checked:focus + .terms__checkbox--custom {
  border: 2px solid var(--color-accent);
}

.terms__icon--custom {
  color: var(--color-primary-text-light);
  opacity: 0;
  -webkit-transition: opacity var(--duration) var(--timing-function);
  transition: opacity var(--duration) var(--timing-function);
}
.terms__checked:checked + .terms__checkbox--custom .terms__icon--custom {
  opacity: 1;
}

.terms__text {
  margin-right: 5px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.modal-form__btn--submit {
  margin: 0 auto;
  min-width: 200px;
}

.filters__list {
  margin-bottom: 50px;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__btn {
  min-width: 73px;
  min-height: 38px;
  padding: 6px 22px;
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: calc(-1 * var(--gap-card-set) / 2);
}

.projects__item {
  position: relative;
  max-width: 370px;
  margin: calc(var(--gap-card-set) / 2);
}

.projects__link {
  display: block;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow var(--duration) var(--timing-function);
  transition: -webkit-box-shadow var(--duration) var(--timing-function);
  transition: box-shadow var(--duration) var(--timing-function);
  transition: box-shadow var(--duration) var(--timing-function), -webkit-box-shadow var(--duration) var(--timing-function);
}
.projects__link:hover, .projects__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__thumb {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-project-thumb);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--duration) var(--timing-function);
  transition: -webkit-transform var(--duration) var(--timing-function);
  transition: transform var(--duration) var(--timing-function);
  transition: transform var(--duration) var(--timing-function), -webkit-transform var(--duration) var(--timing-function);
}
.projects__link:hover .projects__overlay, .projects__link:focus .projects__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects__description {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-primary-text-light);
  opacity: 0;
  -webkit-transition: opacity var(--duration) var(--timing-function) 250ms;
  transition: opacity var(--duration) var(--timing-function) 250ms;
}
.projects__link:hover .projects__description, .projects__link:focus .projects__description {
  opacity: 1;
}

.projects__wrapper {
  padding: 20px 22px 20px 24px;
  background-color: var(--color-primary-text-light);
  border: 1px solid var(--color-border-project);
  border-top: none;
}

.projects__name {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-primary-text-dark);
}

.projects__category {
  font-size: var(--font-size-primary);
  line-height: 1.67;
  color: var(--color-secondary-text-light);
}/*# sourceMappingURL=main.css.map */