:root {
    --accent-color: #2196f3;
    --button-active-color: #188ce8;
    --primary-text-color-dark: #212121;
    --primary-text-color-light: #ffffff;
    --secondary-text-color-dark: #000000;
    --secondary-text-color-light: #757575;
    --bg-color-dark: #2f303a;
    --bg-color-light: #f5f4fa;
    --bg-color-hero: #C4C4C4;
    --bg-color-project-thumb: rgba(33, 150, 243, 0.9);
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --bg-image-color-hero: rgba(47, 48, 58, 0.4);
    --bg-image-color-activities: rgba(47, 48, 58, 0.8);

    --svg-color: #AFB1B8;
    --border-bottom-colors: #ececec;
    --border-project-color: #eeeeee;
    --primary-font-family: Roboto, sans-serif;
    --secondary-font-family: Raleway, sans-serif;
    --card-set-gap: 30px;
    --primary-font-size: 16px;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --duration: 250ms;

}

body {
    font-family: var(--primary-font-family);
    color: var(--primary-text-color-dark);
    background-color: var(--primary-text-color-light);
    font-size: 14px;
    letter-spacing: 0.03em;
}

/* ---------RESET--------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* ============= START COMPONENTS ============= */
.page-header .logo {
    margin-right: 90px;
}

.logo {
    font-family: var(--secondary-font-family);
    font-size: 26px;
    line-height: 1.2;
    transform: scale(1);
    transition: transform var(--duration) var(--timing-function);
}

.logo:focus, .logo:hover {
    transform: scale(1.03);
}

.logo-dark {
    color: var(--secondary-text-color-dark);
}

.logo-light {
    color: var(--primary-text-color-light);
}

.logo-span {
    color: var(--accent-color);
}

.section-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.section-indents {
    padding-top: 94px;
    padding-bottom: 94px;
}

.flex-container {
    display: flex;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
}

.subtitle {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.social-link {
    width: 44px;
    height: 44px;

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    fill: currentColor;
}

/* ============= END COMPONENTS ============= */

/* ============= START HEADER ============= */

.page-header {
    border-bottom: 1px solid var(--border-bottom-colors);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--primary-text-color-light);
    z-index: 100;
    min-height: 80px;
}

.page-navigation {

    margin-right: auto;
}

.nav-list-item:not(:last-child) {
    margin-right: 50px;
}

.contact-item>.link {
    display: flex;
    align-items: center;
}

.contact-mail,
.contact-phone,
.nav-list-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--duration) var(--timing-function);
}

.nav-list-link {
    color: inherit;
}

.contact-mail,
.contact-phone {
    color: var(--secondary-text-color-light);
}

.active-link,
.contact-mail:hover,
.contact-mail:focus,
.contact-phone:hover,
.contact-phone:focus,
.nav-list-link:hover,
.nav-list-link:focus {
    color: var(--accent-color);
}

.contact-mail {
    margin-right: 30px;
}

.contact-item .icon {
    margin-right: 10px;
}

.active-link {
    position: relative;
}

.active-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

/* ============= END HEADER ============= */

/* ============= START HERO ============= */

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--bg-color-hero);

    background-image:
        linear-gradient(var(--bg-image-color-hero), var(--bg-image-color-hero)), url("../images/img-index/new_photo-hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-title {
    margin-bottom: 30px;

    color: var(--primary-text-color-light);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.modal-btn {
    display: block;
    padding: 10px 30px;
    margin-left: auto;
    margin-right: auto;
    min-width: 216px;
    min-height: 50px;

    color: var(--primary-text-color-light);
    background-color: var(--accent-color);

    font-family: inherit;
    font-weight: 700;
    font-size: var(--primary-font-size);
    line-height: 1.85;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: none;
    transition: background-color var(--duration) var(--timing-function);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--button-active-color);
}

/* ============= END HERO ============= */

/* ============= start specialty ============= */

.specialty-title {
    opacity: 0.2;
}

.specialty-description {
    line-height: 1.71;
    color: var(--secondary-text-color-light);
}

.specialty-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}

.specialty-item {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
}

.specialty-item .subtitle {
    margin-bottom: 10px;
}

.speciality-dg-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 120px;
    background-color: var(--bg-color-light);
}

/* ============= END specialty ============= */

/* ============= start activities ============= */
.activities {
    padding-top: 0;
}

.section-title {
    margin-bottom: 50px;
}

.activities-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}

.activities-item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
    position: relative;
}

.activities-item .subtitle {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;

    justify-content: center;
    padding-top: 27px;
    padding-bottom: 27px;

    color: var(--primary-text-color-light);
    background-color: var(--bg-image-color-activities);
    ;
}

/* ============= END activities ============= */

/* ============= start team ============= */

.team {
    background-color: var(--bg-color-light);
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}

.team-item {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);

    background-color: var(--primary-text-color-light);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-content-wrapper {
    padding: 30px 32px;
}

.team-name {
    font-weight: 500;
    font-size: var(--primary-font-size);
    line-height: 1.19;
    text-align: center;
}

.team-position {
    color: var(--secondary-text-color-light);

    font-size: var(--primary-font-size);
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
}

.team-name {
    margin-bottom: 10px;
}

.team-social {
    display: flex;
    justify-content: space-between;
}

.team-social .social-link {
    color: var(--svg-color);
    background-color: var(--primary-text-color-light);
    transition: background-color var(--duration) var(--timing-function), color var(--duration) var(--timing-function);
}

.team-social .social-link:hover,
.team-social .social-link:focus {
    color: var(--primary-text-color-light);
    background-color: var(--accent-color);
}

/* ============= END team ============= */
/* ============= start clientage ============= */
.clientage-list {
    display: flex;
}

.clientage-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    color: var(--svg-color);
    border: 1px solid;
    border-color: var(--svg-color);
    border-radius: 4px;
    transition: color var(--duration) var(--timing-function), border-color var(--duration) var(--timing-function);
}


.clientage-link:hover, .clientage-link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.clientage-item:not(:last-child) {
    margin-right: 30px;
}

/* ============= END clientage ============= */



/* ============= start footer ============= */
.contacts>.container {
    display: flex;
}

.address-group {
    width: 231px;
}

.footer-contacts {
    margin-right: 70px;
}

.contacts {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--bg-color-dark);
}

.contacts .logo {
    margin-bottom: 20px;
    width: 145px;
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}

.address-link {
    color: var(--primary-text-color-light);
    opacity: 0.6;

    line-height: 1.71;
    transition: opacity var(--duration) var(--timing-function);
}

.address-link:hover,
.address-link:focus {
    opacity: 1;
}

.footer-paragraph {
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-text-color-light);
}

.footer-social-list {
    display: flex;
    justify-content: space-between;
}

.footer-social-list .social-link {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: var(--primary-text-color-light);
    transition: background-color var(--duration) var(--timing-function);
}

.footer-social-list .social-item:not(:last-child) {
    margin-right: 10px;
}

.footer-social-list .social-link:hover,
.footer-social-list .social-link:focus {
    background-color: var(--accent-color);
}

.contacts .container {
    align-items: baseline;
}

/* ============= END footer ============= */

/* ============= start modal ============= */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: var(--backdrop-color);
    opacity: 1;
    transition: opacity var(--duration) var(--timing-function);

}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: translate var(--duration) var(--timing-function);
    min-width: 528px;
    min-height: 581px;

    background-color: var(--primary-text-color-light);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}

/* ============= end modal ============= */

/* ============= END page index ============= */

/* ============= start page portfolio ============= */

/* ============= start filter-section ============= */


.filters-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters-item:not(:last-child) {
    margin-right: 8px;
}

.filters-list {
    margin-bottom: 50px;
}

.filter-btn {
    padding: 6px 22px;
    min-width: 73px;
    background-color: var(--bg-color-light);

    font-family: inherit;
    font-weight: 500;
    font-size: var(--primary-font-size);
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: inherit;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
    box-shadow: none;
    transition: color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function);
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--primary-text-color-light);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ============= end filter-section ============= */

/* ============= start project-section ============= */

.project-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}

.project-item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
}

.project-link {
    display: block;
    box-shadow: none;
    transition: box-shadow var(--duration) var(--timing-function);
}

.project-thumb {
    position: relative;
    overflow: hidden;
}

.project-overlay {

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-project-thumb);

    transform: translateY(100%);

    transition: transform var(--duration) var(--timing-function);

}

.project-description {
    position: absolute;

    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    padding-left: 24px;
    padding-right: 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-light);
    opacity: 0;
    transition: opacity var(--duration) var(--timing-function) 250ms;


}


.project-link:hover .project-description,
.project-link:focus .project-description {

    opacity: 1;
}


.project-link:hover .project-overlay,
.project-link:focus .project-overlay {
    transform: translateY(0);

}



.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-content-wrapper {
    padding: 20px 22px 20px 24px;
    background-color: var(--primary-text-color-light);
    border: 1px solid var(--border-project-color);
    border-top: none;
}

.project-name {
    margin-bottom: 4px;
    color: var(--primary-text-color-dark);
}

.project-name {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-category {
    font-size: var(--primary-font-size);
    line-height: 1.67;
    color: var(--secondary-text-color-light);
}

/* ============= end project-section ============= */
/* ============= end page portfolio ============= */