:root {
    --accent-color: #2196f3;
    --button-active-color: #188ce8;
    --primary-text-color-dark: #212121;
    --primary-text-color-light: #ffffff;
    --secondary-text-color-dark: #000000;
    --secondary-text-color-light: #757575;
    --bg-color-dark: #2f303a;
    --bg-color-light: #f5f4fa;
    --primary-font-family: Roboto, sans-serif;
    --secondary-font-family: Raleway, sans-serif;
    --card-set-gap: 30px;
}

body {
    font-family: var(--primary-font-family);
    color: var(--primary-text-color-dark);
    background-color: var(--primary-text-color-light);
    font-size: 14px;
    letter-spacing: 0.03em;
}

/* ---------RESET--------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    width: 100%;
}

address {
    font-style: normal;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* ============= START COMPONENTS ============= */
.page-header .logo {
    margin-right: 90px;
}

.logo {
    font-family: var(--secondary-font-family);
    font-size: 26px;
    line-height: 1.2;
}

.logo-dark {
    color: var(--secondary-text-color-dark);
}

.logo-light {
    color: var(--primary-text-color-light);
}

.logo-span {
    color: var(--accent-color);
}

.section-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.section-indents {
    padding-top: 94px;
    padding-bottom: 94px;
}

.flex-container {
    display: flex;
    align-items: center;
}

/* ============= END COMPONENTS ============= */

/* ============= START HEADER ============= */

.page-header {
    border-bottom: 1px solid #ececec;
}

.page-navigation {
    margin-right: auto;
}

.nav-list-item:not(:last-child),
.contact-item:not(:last-child) {
    margin-right: 50px;
}

.contact-mail,
.contact-phone,
.nav-list-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav-list-link {

    color: inherit;
}

.contact-mail,
.contact-phone {
    color: var(--secondary-text-color-light);
}

.active-link,
.contact-mail:hover,
.contact-mail:focus,
.contact-phone:hover,
.contact-phone:focus,
.nav-list-link:hover,
.nav-list-link:focus {
    color: var(--accent-color);
}

/* ============= END HEADER ============= */

/* ============= START HERO ============= */

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #C4C4C4;

    background-image:
        linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-index/new_photo-hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

.main-title {
    margin-bottom: 30px;

    color: var(--primary-text-color-light);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.modal-btn {
    display: block;
    padding: 10px 30px;
    margin-left: auto;
    margin-right: auto;
    min-width: 216px;
    min-height: 50px;

    color: var(--primary-text-color-light);
    background-color: var(--accent-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.85;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: none;


}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--button-active-color);
}

/* ============= END HERO ============= */

/* ============= start specialty ============= */

.specialty-title {
    opacity: 0.2;
}

.specialty-subtitle {
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.specialty-description {
    line-height: 1.71;
    color: var(--secondary-text-color-light);
}

.specialty-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}

.specialty-item {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
}

.specialty-item::before {
    display: block;
    content: "";

    height: 120px;

    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--bg-color-light);
    margin-bottom: 30px;
}

.specialty-item.icon-antenna::before {
    background-image: url(../images/img-index/antenna.svg);
}

.specialty-item.icon-clock::before {
    background-image: url(../images/img-index/clock.svg);
}

.specialty-item.icon-diagram::before {
    background-image: url(../images/img-index/diagram.svg);
}

.specialty-item.icon-astronaut::before {
    background-image: url(../images/img-index/astronaut.svg);
}

/* ============= END specialty ============= */

/* ============= start activities ============= */
.activities {
    padding-top: 0;
}

.section-title {
    margin-bottom: 50px;
}

.activities-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}

.activities-item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
}

/* ============= END activities ============= */

/* ============= start team ============= */

.team {
    background-color: var(--bg-color-light);
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}

.team-item {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);

    background-color: var(--primary-text-color-light);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-content-wrapper {
    padding: 30px 20px;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-position {
    color: var(--secondary-text-color-light);

    font-size: 16px;
    line-height: 1.19;
    text-align: center;

}

.team-name {
    margin-bottom: 10px;
}

/* ============= END team ============= */

/* ============= start footer ============= */
.contacts>.container {
    display: flex;
}

.contacts {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--bg-color-dark);
}

.contacts .logo {
    margin-bottom: 20px;
    margin-right: 156px;
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}

.address-link {
    color: var(--primary-text-color-light);
    opacity: 0.6;

    line-height: 1.71;
}

.address-link:hover,
.address-link:focus {
    opacity: 1;
}

.footer-paragraph {
    margin-top: 12px;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-text-color-light);
}

.footer-social .social-link {
    display: inline-block;
    height: 44px;
    width: 44px;
    background-color: rgba(255, 255, 255, 0.1);

    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    color: var(--primary-text-color-light);
}

.footer-social .social-item:not(:last-child) {
    margin-right: 10px;
}

.footer-social .social-link:hover,
.footer-social .social-link:focus {
    background-color: var(--accent-color);
}

.social-link.icon-instagram {
    background-image: url(../images/img-index/instagram.svg);
}

.social-link.icon-twitter {
    background-image: url(../images/img-index/twitter.svg);
}

.social-link.icon-facebook {
    background-image: url(../images/img-index/facebook.svg);
}

.social-link.icon-linkedin {
    background-image: url(../images/img-index/linkedin.svg);
}

/* ============= END footer ============= */

/* ============= END page index ============= */

/* ============= start page portfolio ============= */

/* ============= start filter-section ============= */


.filters-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters-item:not(:last-child) {
    margin-right: 8px;
}

.filters-list {
    margin-bottom: 50px;
}

.filter-btn {
    padding: 6px 22px;

    background-color: var(--bg-color-light);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: inherit;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--primary-text-color-light);
    background-color: var(--accent-color);
}

/* ============= end filter-section ============= */

/* ============= start project-section ============= */

.project-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}

.project-item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
}

.project-content-wrapper {
    padding: 20px 22px 20px 24px;

    background-color: var(--primary-text-color-light);
    border: 1px solid #eeeeee;
}

.project-name {
    margin-bottom: 4px;
}

.project-name {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-category {
    font-size: 16px;
    line-height: 1.67;
    color: var(--secondary-text-color-light);
}

/* ============= end project-section ============= */
/* ============= end page portfolio ============= */