@import "./utils/variables";

@import "./base/common";
@import "./base/container";

@import "./utils/visually-hidden";

@import "./components/flex-container";
@import "./components/logo";
@import "./components/btn";
@import "./components/socials";
@import "./components/section-title";
@import "./components/subtitle";

@import "./layout/header";
@import "./layout/hero";
@import "./layout/feature";
@import "./layout/activities";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/footer";
@import "./layout/modal";
@import "./layout/section-filter";
@import "./layout/project-section";
