.activities {
	@media screen and (max-width: calc($desktop - 1px)) {
		display: none;
	}
	padding-top: 0;
	&__list {
		display: flex;
		flex-wrap: wrap;
		@media screen and (min-width: $desktop) {
			margin: calc(-1 * var(--gap-card-set) / 2);
		}
	}

	&__item {
		position: relative;
		max-width: 370px;
		@media screen and (min-width: $desktop) {
			margin: calc(var(--gap-card-set) / 2);
		}
	}

	&__subtitle {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding-top: 27px;
		padding-bottom: 27px;
		color: var(--color-primary-text-light);
		background-color: var(--color-bg-image-activities);
	}
}
