.clients__list {
	display: flex;
	flex-wrap: wrap;
	margin: calc(-1 * var(--gap-card-set) / 2);
}

.clients__item {
	flex-basis: calc((100% - 2 * (var(--gap-card-set))) / 2);
	margin: calc(var(--gap-card-set) / 2);

	@media screen and (min-width: $tablet) {
		flex-basis: calc((100% - 3 * (var(--gap-card-set))) / 3);
	}
	@media screen and (min-width: $desktop) {
		flex-basis: calc((100% - 6 * (var(--gap-card-set))) / 6);
	}
}

.clients__link {
	height: 92px;
	color: var(--color-svg);
	border: 1px solid;
	border-color: var(--color-svg);
	border-radius: 4px;
	transition: color var(--duration) var(--timing-function),
		border-color var(--duration) var(--timing-function);

	&:hover,
	&:focus {
		color: var(--color-accent);
		border-color: var(--color-accent);
	}
}
