.feature__list {
	@media screen and (min-width: $tablet) {
		display: flex;
		flex-wrap: wrap;
		margin: calc(-1 * var(--gap-card-set) / 2);
	}
}

.feature__item {
	
	@media screen and (max-width: calc($tablet - 1px)) {
		&:not(:last-child) {
			margin-bottom: var(--gap-card-set);
		}
	}
	@media screen and (min-width: $tablet) {
		
		flex-basis: calc((100% - 2 * (var(--gap-card-set))) / 2);
		margin: calc(var(--gap-card-set) / 2);
	}
	@media screen and (min-width: $desktop) {
		
		flex-basis: calc((100% - 4 * (var(--gap-card-set))) / 4);
	}
}

.feature__bg-img {
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-bg-light);

	&--bottom {
		margin-bottom: var(--gap-card-set);
	}
}
.feature__title--bottom {
	margin-bottom: 10px;
	text-align: center;
	@media screen and (min-width: $tablet) {
		text-align: start;
	}
}

.feature__descr {
	line-height: 1.71;
	color: var(--color-secondary-text-light);
}
