.team {
	background-color: var(--color-bg-light);
}

.team__list {
	display: flex;
	flex-wrap: wrap;
	margin: calc(-1 * var(--gap-card-set) / 2);
}

.team__item {
	max-width: 270px;
	margin: calc(var(--gap-card-set) / 2);
	background-color: var(--color-primary-text-light);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team__inner {
	padding: 30px 32px;
}

.team__name {
	font-weight: 500;
	font-size: var(--font-size-primary);
	line-height: 1.19;
	text-align: center;
}

.team__name--bottom {
	margin-bottom: 10px;
}

.team__position {
	color: var(--color-secondary-text-light);
	font-size: var(--font-size-primary);
	line-height: 1.19;
	text-align: center;
}

.team__position--bottom {
	margin-bottom: 16px;
}

.socials__link--bg-light {
	color: var(--color-svg);
	background-color: var(--color-primary-text-light);
	transition: background-color var(--duration) var(--timing-function),
		color var(--duration) var(--timing-function);
}

.socials__link--bg-light:hover,
.socials__link--bg-light:focus {
	color: var(--color-primary-text-light);
	background-color: var(--color-accent);
}
