.logo {
	width: 145px;
	font-size: 26px;
	font-family: var(--font-family-secondary);
	line-height: 1.2;
	transform: scale(1);
	transition: transform var(--duration) var(--timing-function);

	&:focus,
	&:hover {
		transform: scale(1.03);
	}

	&--dark {
		color: var(--color-secondary-text-dark);
	}

	&--light {
		color: var(--color-primary-text-light);
	}

	&--accent {
		color: var(--color-accent);
	}
}
